<div class="licence">
<span>Licence CC BY-NC-ND</span>
<span>Val√©rie Roy</span>
<span><img src="media/ensmp-25-alpha.png" /></span>
</div>

In [ ]:
import numpy as np
import pandas as pd

## VI)  *pandas.DataFrame.groupby*

   - can be applied o *pandas.Series* and on *pandas.DataFrame*
   - to **group together** amounts of data from a DataFrame or a Series
   - for example, to compute operation on these groups

   - http://pandas.pydata.org/pandas-docs/stable/groupby.html

In [ ]:
df = pd.DataFrame([[1.70, 67, 'M', 'Lower'], [1.67, 59, 'F', 'Middle'], [1.84, 78, 'F', 'Lower'],
                   [1.86, 90, 'F', 'Middle'], [1.56, 45, 'M', 'Middle'], [1.57, 63, 'M', 'Lower']],
                  columns=['height', 'weight', 'sex', 'income'])
df

   - we can **group by** **income**, or **sex**

In [ ]:
gdf1 = df.groupby('sex')
gdf1.size() # we have two groups:
               # the three rows with **sex** == 'F' are grouped together
               # the three rows with **sex** == 'M' are grouped together

In [ ]:
gdf1.groups # the description of the group

In [ ]:
gdf2 = df.groupby(['sex', 'income'])
gdf2.size() # we have four groups:
            # the first group cotains one row with 'sex' == 'F' and 'income' == 'Lower'
            # the second group contains two rows with 'sex' == 'F' and 'income' == 'Middle'
            # ...

In [ ]:
gdf2.groups

   - you can apply **operations** on the groups

In [ ]:
gdf2.sum()